backports.shutil-get-terminal-size==1.0.0
contextlib2==0.5.5
decorator==4.1.2
Django==1.11.7
django-cors-headers==2.1.0
django-environ==0.4.4
django-indexer==0.3.0
django-model-utils==3.0.0
django-paging==0.2.5
django-sentry==1.13.5
django-templatetag-sugar==1.0
django-widget-tweaks==1.4.1
docutils==0.14
enum-compat==0.0.2
enum34==1.1.6
environ==1.0
eventlet==0.21.0
greenlet==0.4.12
ipython==5.5.0
ipython-genutils==0.2.0
lockfile==0.12.2
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
Pygments==2.2.0
python-daemon==2.1.2
pytz==2017.3
raven==6.3.0
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
South==1.0.2
traitlets==4.3.2
wcwidth==0.1.7
uwsgi==2.0.15
