{% load static widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чаты</title>
    <script src="{% static 'js/sentry.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/chief.css' %}" rel="stylesheet">
</head>
<body>
{% if user.is_authenticated %}
{% include 'nav_chief.html' %}
<div class="header">
    <div class="col-md-12">
        <div class="col-md-2">
            <div>
                <li class="list-group-item active">Онлайн - чаты</li>
                {% for d in read_dialogs %}
                    <a href="{% url 'dialog' d.id %}"
                       class="list-group-item">{{ d.get_dialog_title| truncatechars_html:20 }}</a>
                {% endfor %}
            </div>
            <div class="not-view">
                <li class="list-group-item active" id="messag-receive">Непрочитанные</li>
                {% for m in not_read_dialogs %}
                    <a href="{% url 'dialog' m.id %}"
                       class="list-group-item"
                       id="message-receive">{{ m.get_dialog_title | truncatechars_html:20 }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 view">
            {% if dialog %}
                {% include 'message_view.html' %}
                <form method="post" action="{% url 'message_create' %}" id="chat-form">
                    <div class="input-group">
                        {% csrf_token %}
                        <span class="input-group-btn">
                        {{ form.sender|attr:"hidden" }}
                        {{ form.dialog|attr:"hidden" }}
                        {{ form.dialog.manager }}
                        {{ form.body|add_class:"form-control input-sm chat_input"|attr:"rows:5"|attr:"cols:50"|attr:"placeholder:Ваше обращение..."}}
                        </span>
                        <button class="btn btn-primary btn-sm button-chat" type="submit">Отправить</button>
                        <a href="{% url 'close' dialog.id %}" class="btn btn-danger btn-sm button-chat">Завершить</a>
                    </div>
                </form>
            {% endif %}
        </div>
        <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
        <script src="{% static 'js/chief.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </div>
{% else %}
    {% include 'login.html' %}
{% endif %}
</div>
</body>
</html>
