{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обратная связь</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScjRom2oZs7viidfaEhcWkaRuR_4LqVL0fWMYd2B0Xo5fAnLQ/viewform?embedded=true#start=embed"
                    class="tub">Загрузка...
            </iframe>
        </div>
    </div>
</div>
<script src="http://127.0.0.1:8000/static/js/jquery-3.1.0.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>




