{% load static widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'fonts/glyphicons-halflings-regular.eot' %}" rel="stylesheet">
    <link href="{% static 'fonts/glyphicons-halflings-regular.svg' %}" rel="stylesheet">
    <link href="{% static 'fonts/glyphicons-halflings-regular.ttf' %}" rel="stylesheet">
    <link href="{% static 'fonts/glyphicons-halflings-regular.woff' %}" rel="stylesheet">
    <link href="{% static 'fonts/glyphicons-halflings-regular.woff2' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/chief.css' %}" rel="stylesheet">
</head>
<body>
<div class="container" id="chat_right">
    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px; right:1px;">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default" id="chat-border">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title article chat-open"><span class="glyphicon glyphicon-comment"></span>
                            Помощник</h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window"
                                          class="glyphicon glyphicon-minus icon_minim"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                </div>
                {% include 'message_view.html' %}
                <div class="panel-footer">
                    <form method="POST" id="chat-form" action="{% url 'message_create' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            {% if not request.user.is_authenticated %}
                                <input id="name-input" type="text" class="form-control input-sm chat_input name-input"
                                       placeholder="Ваше имя..." name="client_name"/>
                            {% endif %}
                            <input id="btn-input" type="text" class="form-control input-sm chat_input"
                                   placeholder="Ваше обращение..." autocomplete="off" required name="body"/>
                            <button class="form-control btn btn-primary btn-sm" id="id" type="submit">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static 'js/jquery-3.1.0.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/chief.js' %}"></script>
</body>
</html>