<div class="panel panel-default">
    <div class="panel-heading top-bar">
        <div class="container-fluid">
            <div class="col-md-8 col-xs-8">
                <div class="chat-title">
                    <h3 class="panel-title article chat-open"><span class="glyphicon glyphicon-comment"  id="form-title"></span>Помощник
                    </h3>
                <h3>{{ request.get_host }} </h3>
                </div>
            </div>
            <div class="col-md-4 col-xs-4" style="text-align: right;">
                <a href="#"><span id="minim_chat_window"
                                  class="glyphicon glyphicon-minus icon_minim"></span></a>
                <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
            </div>
        </div>
    </div>
    {% include 'message_view.html' %}
    <div class="panel-footer">
        <form method="POST" id="chat-form" data-action="{% url 'message_create' %}" style="padding-left: 8%;">
            {% csrf_token %}
            <div class="input-group">
                {% if not request.user.is_authenticated %}
                    <input type="text" class="form-control input-sm chat_input name-input" id="user-name"
                           placeholder="Ваше имя..." name="client_name"/>
                {% endif %}
                <input type="text" class="form-control input-sm chat_input" id="user-text"
                       placeholder="Ваше обращение..." required name="body"/>
                <button id="button-user" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>
